body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(95, 73, 91);

}

* {
  box-sizing: border-box;
}

/* 1.0 Background */

.bg-image {
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Images used */
.img1 { background-image: url(/images/Chiori.full.4108251.jpg); }
.img2 { background-image: url(/images/_DSC4433.jpg); }


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(224, 172, 216);
  font-weight: bold;
  border: 3px solid rgb(224, 172, 216);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 10px;
  text-align: center;


}


.logo {

  background-color: #717171;
  border-radius: 25px;
  opacity: .8;

}

/* 2.0  center content */
.content {
  max-width: 300px;
  margin: auto;
  padding: 10px;
}


/* 3.0  Float 2 columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;

}

/* Responsive columns */
  @media screen and (max-width: 200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* Style the counter cards */
.card {
  transform: translate(0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 16px;
  text-align: center;
  color:  rgb(224, 172, 216);
  background-color: rgba(0,0,0, 0.4); 


  position: relative;
  bottom: -300px;
}

/* 4.0 Navigation */

.header {
  overflow: hidden;
  color:hsla(0, 0%, 96%, 0.622);
  background-color: rgb(95, 73, 91);
  padding: 20px 10px;
  position: sticky;
  top: 0;
}

.header a {
  float: left;
  color: rgb(224, 172, 216);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  
}

.header a:hover {
  background-color: #ddd;
  color: rgb(224, 172, 216);
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}