 
  body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:hsla(0, 0%, 96%, 0.622);
    background-color: rgb(95, 73, 91);
    
  }

  * {
    box-sizing: border-box;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
   
    .prev, .next,.text {font-size: 11px}
  }

  /* 1.0  header and logo */

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-image: url("/images/_MG_8000.jpg");
    object-fit: contain;
    position: sticky;
    top: 0;
  }
  
  .header a {
    float: left;
    color: rgb(224, 172, 216);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: rgb(224, 172, 216);
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }

  .logo {

    background-color: #717171;
    border-radius: 25px;
    opacity: .8;

  }



  .icon-img { 
    width: 40px;
    border-radius: 20px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

  }


  /* 2.0 Navigation  */

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgb(224, 172, 216);
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }


  /* 3.0 Grid */

  .preview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  
    
  }
  
  .preview {


  
  }
  
  .thumbnail {

  
  }

  .thumbnail-row {
    margin-top: 50px; 
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;

  }
  
  .info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  
  }
  
  
  .icon {
    vertical-align: top;
    
  }
  
  .icon-img {
    width: 40px;
  }
  
  .info {
    width: 200px;
  }
  
  /* 3.0 slidesow */
  .mySlides {display: none}
  img {vertical-align: middle;}

  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Next & previous buttons */
.prev, .next {
  background-color: #717171;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(224, 172, 216);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 0px 25px 25px 0px;
}

.next {
  right: 0;
  border-radius: 25px 0 0 25px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: rgb(224, 172, 216);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(224, 172, 216);
  background-color: #717171;
  border-radius: 25px;
  opacity: 0.7;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
  left: 15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 4.0  Gallery */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 25px;
  
}

.caption {
  font-size: 10px;
  text-align: center;

}